{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <nav>
                <div class="top-logo">
                    <img  src="https://blog.0xff000000.com/images/logo.png" class="top-logo-img" />
                    <p class="top-logo-text">我的博客</p>
                </div>
                    <ul class="top-menu">
                        <li class="active">
                            <a href="/">首页</a>
                            </li>
                        <li>编程</li>
                        <li>生活</li>
                        <li>关于</li>
                        <li>留言</li>
                    </ul>
            </nav>
            
        </div>
        <div class="content">
            {% block main %}
            {% endblock main %}
        </div>
        
    </div>
</body>
</html>